.animation-text{
    font-size: 75px;
    position: relative;
    color: transparent;
    
}
.animation-text::before{
    content: "Front-End Developer";
    position: absolute;
    top: 0;
    left: 0;
    color: #E02C6D;
    animation: typing 3s linear;
}
@keyframes typing{
    0%{
        content: "F";
    }
    5%{
        content: "Fr";
    }
    10%{
        content: "Fro";
    }
    15%{
        content: "Fro";
    }
    20%{
        content: "Fron";
    }
    25%{
        content: "Front";
    }
    30%{
        content: "Front-";
    }
    35%{
        content: "Front-E";
    }
    40%{
        content: "Front-En";
    }
    45%{
        content: "Front-End";
    }
    50%{
        content: "Front-End ";
    }
    55%{
        content: "Front-End D";
    }
    60%{
        content: "Front-End De";
    }
    65%{
        content: "Front-End Dev";
    }
    70%{
        content: "Front-End Deve";
    }
    75%{
        content: "Front-End Devel";
    }
    80%{
        content: "Front-End Develo";
    }
    85%{
        content: "Front-End Develop";
    }
    90%{
        content: "Front-End Develope";
    }
    95%{
        content: "Front-End Developer";
    }
    100%{
        content: "Front-End Developer";
    }
}